/* ================================== */
/* Fonts */
/* ================================== */

@font-face { 
    font-family:'DMSans-regular';
    src: url(assets/fonts/DMSans-regular.ttf) format('ttf');
    src: url(assets/fonts/DMSans-regular.eot) format('eot');
  /*   src: url(assets/fonts/DMSans-regular.woff) format('woff'); */
}
@font-face { 
    font-family:'DMSans-medium';
    src: url(assets/fonts/DMSans-medium.ttf) format('ttf');
    src: url(assets/fonts/DMSans-medium.eot) format('eot');
    /* src: url(assets/fonts/DMSans-medium.woff) format('woff'); */
}
@font-face { 
    font-family:'DMSans-bold';
    src: url(assets/fonts/DMSans-bold.ttf) format('ttf');
    src: url(assets/fonts/DMSans-bold.eot) format('eot');
    src: url(assets/fonts/DMSans-bold.woff) format('woff');
}
@font-face { 
    font-family:'DMSans-italic';
    src: url(assets/fonts/DMSans-italic.ttf) format('ttf');
    src: url(assets/fonts/DMSans-italic.eot) format('eot');
    src: url(assets/fonts/DMSans-italic.woff) format('woff');
}
@font-face { 
    font-family:'DMSans-bold-italic';
    src: url(assets/fonts/DMSans-bold-italic.ttf) format('ttf');
    src: url(assets/fonts/DMSans-bold-italic.eot) format('eot');
    src: url(assets/fonts/DMSans-bold-italic.woff) format('woff');
}
