/* ================================== */
/* Fonts */
/* ================================== */

@font-face { 
    font-family:'DMSans-regular';
    src: url('../assets/fonts/DMSans/DMSans-regular.ttf') format('ttf');
    src: url('../assets/fonts/DMSans/DMSans-regular.eot') format('eot');
    src: url('../assets/fonts/DMSans/DMSans-regular.woff') format('woff');
}
@font-face { 
    font-family:'DMSans-medium';
    src: url('../assets/fonts/DMSans/DMSans-medium.ttf') format('ttf');
    src: url('../assets/fonts/DMSans/DMSans-medium.eot') format('eot');
    src: url('../assets/fonts/DMSans/DMSans-medium.woff') format('woff');
}
@font-face { 
    font-family:'DMSans-bold';
    src: url('../assets/fonts/DMSans/DMSans-bold.ttf') format('ttf');
    src: url('../assets/fonts/DMSans/DMSans-bold.eot') format('eot');
    src: url('../assets/fonts/DMSans/DMSans-bold.woff') format('woff');
}
@font-face { 
    font-family:'DMSans-italic';
    src: url('../assets/fonts/DMSans/DMSans-italic.ttf') format('ttf');
    src: url('../assets/fonts/DMSans/DMSans-italic.eot') format('eot');
    src: url('../assets/fonts/DMSans/DMSans-italic.woff') format('woff');
}
@font-face { 
    font-family:'DMSans-bold-italic';
    src: url('../assets/fonts/DMSans/DMSans-bold-italic.ttf') format('ttf');
    src: url('../assets/fonts/DMSans/DMSans-bold-italic.eot') format('eot');
    src: url('../assets/fonts/DMSans/DMSans-bold-italic.woff') format('woff');
}