/* ================================== */
/* HEADER */
/* ================================== */

.header-wrapper {
    border:1px solid palevioletred;
    
    .header {
        background-color: lightcoral;
        height:50px;
        @include flex(row, wrap);
        @include max-1200px { justify-content: space-between; }
        @include min-1200px { width: 80%; justify-content: space-between; }

        &__logo-wrapper {
            @include max-1200px{ width:150px; }
            @include min-1200px{ width:200px; }
            img { max-width: 100%;}
        }
        &__nav {
            background-color: lightskyblue;
            height: 100%;
            display: flex;
            align-items: center;
            @include max-1200px{ width:100%; @include flex(row, wrap);justify-content: center; margin-top:25px; } 
            @include min-1200px{ width:700px; @include flex(row, nowrap);justify-content: center; } 
            a { 
                border: 1px solid black; 
                height:20px; 
                @include max-1200px {margin: 0 1%;}
                @include min-1200px {margin: 1%;}
            }
        }
    }
}

.homepage-content {
    .homepage-title {
        position: absolute;  /* force page title into header top right */
        @include max-1200px {right: 25px; top: 25px; }
        @include min-1200px {right: 75px; top: 35px; }
        }
    }

