
// =========================================
/* MODAL CONTACT - CONFIRM BOXES */
// =========================================

.confirmation-message-wrapper {
    height:40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h1 {
        text-align: center; 
        font-family: "DMSans-regular", Arial, sans-serif;
        font-size: 2em;
    }
    &:focus, &:active { border: 3px solid red;}
}


.confirBox-cancelModal {

    position: fixed;
    top: 20%;
    right: 35%;
    z-index: 5;
    height: 400px;
    @include flex(column, nowrap);
    justify-content: center;
    align-items: center;

    @include max-600px { width:80%; }
    background-color: $white;
    @include border-radius(25px);
    @include box-shadow;
    h2 { text-align: center; width: 80%;}
    .btns-wrapper {
        @include flex(row, nowrap); justify-content: space-evenly;
        &:focus, &:active { border: 3px solid red;}
    }
    &:focus, &:active { border: 3px solid red;}    
}