// ===============================
/* DROPDOWN  MENU  */
// ===============================

/* FYI : dropdown menu item share some style with main-btn */

.listbox-area {
    * { font-size: 1em;}
    @include max-600px { display: none;} // element is only present from 600px
    height: 80px;
    position: relative; // allows menu to pass over gallery when expanded
    display: flex; // dropdown title and menu are side by side
    margin-top: 20px;
    p { margin-right: 20px; text-transform: capitalize;font-weight:600;}

    .dropdown-menu {
        position: relative; // for caret abs positioning
        width: 170px; height:170px;
        @include border-radius(5px);
        background-color: $red-main;

        &.hide {  // UL list
            @extend .dropdown-menu;
            height:50px;
            #sortBy { visibility: hidden; ;}
        }
        button { 
            @include flex(row, nowrap);
            justify-content: space-between;
            padding: 0;
            background-color: transparent;
        }
        img {
            position: absolute; right:15px;top:20px; 
            @include icon-base;
            width:1.5em;
            height:1em;
            &.down { transform: rotate(180deg);} // caret points downwards when dropdown is open
        }
        button, li { // select items
            width:90%; margin:auto; 
            padding: 10%;
            color: $white;
            text-align: unset; // reset to left
            text-transform: capitalize;
        }
        button, li:nth-child(1) { border-bottom: 0.5px solid $white; } // all but third li element have bottom border
    }
}

