/* =============================================== */
/* NAV TAGS RULES  */
/* =============================================== */
nav-tags-component { 
    
    // taglist container -  props no matter parent
    .tags-list { 
        // background-color: lightgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; // always takes whole width of parent -> see _header.scss
        @include max-992px { @include flex(row, wrap); }
        @include min-992px{ @include flex(row, nowrap);} // from 992 nav will wrap to next line 

        &.header { margin: 0 80px;} // when parent = header

        .nav-tag {   // tag items -  props no matter parent
            padding: 0.1em 0.5em;
            color: $red-main;
            font-weight: 500;text-transform: capitalize;
            border: 1px solid $greySpecial;
            @include border-radius(10px);
            @include max-1200px {margin: 1%;}
            @include min-1200px {margin: 1%;}
        }
        .nav-tag:focus{ border: 2px solid red;}
        
        &.home { // tag items - parent = header
            // @include max-1200px{ margin:25px auto; } 
            .nav-tag {
                font-size: 0.75em;
            }
        }
        &.page{ // tag items - parent = photog page
            justify-content: unset; // photographer page: taglist = left aligned 
            .nav-tag {
                @include min-600px {font-size: 1.125em;} // = 18px
                @include max-600px { font-size: 0.8125em;} // = 13px
            }
        }
    }
    .tags-list.page a:first-of-type {margin-left:0;} // first child tag

    /* navigation tags inside photographer profile  HOME */
    .photographer__tags-list { margin:5px auto; }
}