/* =============================================== */
/* GALLERY + PICTURES RULES  */
/* =============================================== */
.gallery-wrapper {
    width: 100%;white-space: nowrap;
    @include flex(row, wrap); // elements always unfold as a row
    margin-bottom: 10%; // make space from bottom infos to see last pic infos

    media-item-component {
        // background-color: pink;
        margin: 1em auto;
        overflow: hidden;
        display:flex;

        @include max-768px {flex-basis:100%; // takes all width
            height: 210px;
        }
        @include min-768px { 
            flex-basis:30%; // takes 1/3 width (= 3 items per row)
            height: 350px;
            min-width: 335px; // limits shrinking when item = 30% width
            max-width: 350px; // limits expansion when item = 30% width - to keep proportions on big screens
        }
        
        .mediaItem {
            width:100%;
            .pic-wrapper {
                @include border-radius(5px);
                @include max-992px { 
                    height:170px;
                    a video {max-height:100%;min-width:100%;}
                }
                @include min-992px { 
                    height:300px;
                    a video {max-height:100%;min-width:100%;}}
                overflow: hidden;
            }
            .pic-wrapper a img {
                min-width: 100%;
                max-height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;  
            }
            .mediaItem-infos {
                @include flex(row, nowrap); // photo infos = in a row
                align-items: center; // text = vertically centered
                justify-content: space-between;
                color: $red-main;
        
                @include max-992px { height:40px; }// ======================= to review ( useless if using text default margins?
                @include min-992px { height:50px; }// ======================= to review ( useless if using text default margins?
                @include min-1200px { font-size: 1.25em; }
                
                .mediaItem-title { min-width: 60%;max-width: 70%; overflow:hidden;} // title takes most width but hidden if too long
                .mediaItem-likes, .mediaItem-price { font-weight: 500; }
                .mediaItem-likes{
                    @include flex(row, nowrap); // elements = in a row
                    height: 100%;
                    justify-content: end;
                    align-items: center;
        
                    h5 {margin-right: 5px;}
                    .heart-icon { width: 15px;}
                }
                @include max-1200px {
                    .mediaItem-title,
                    .mediaItem-likes { font-size: 0.875em; }
                    .mediaItem-price { font-size: 0.75em; }
                }
            }
        }
    }

}

