@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */

/* .homepage-title  */
h1 { 
    color: $red-main;
    @include max-1200px {font-size:0.875em; }
    @include min-1200px {font-size:2.25em; }
}

/* 'accessibility hint 'passer au contenu' 
= visible only on hovering main content */
.nav-help {
    position: absolute;
    top: 0;
    color:$dark;
    font-size: 1.125em;
    font-weight: 700;
    background-color: $orange-main;
}



/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */

body {
   // background-color: lightyellow;
    @include max-1200px { margin: 35px 15px; }
    @include min-1200px { margin: 45px 70px; }
}