@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */



/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */

body {
    background-color: lightyellow;
    @include max-1200px { margin: 35px 15px; }
    @include min-1200px { margin: 45px 70px; }
}